
body{
    background-color: #EEEEEE;
    max-width: auto;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 500px;
    font-family: 'Montserrat';
    padding: 0 6rem;
    padding-top: 16px;
    height: 25px;
}
.first{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.header{
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    height: 80px;
    padding-right:30px;
    width:1436px;
}
.second{
    display: flex;
    margin-left: 50px;
}
a{
    text-decoration: none;
    color:#222831;
}
h1{
    color: #222831;
    font-size: 5em;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}
h2{
    color: #222831;
    font-size: 2em;
    font-family: 'Montserrat';
    margin-top: 0px;
    margin-bottom: 5px;
}
h3{
    color: #222831;
    font-size: 1.5em;
    font-family: 'Montserrat';
    margin-top: 0px;
}
.title{
    color: #222831;
    font-size: 3em;
    font-family: 'Montserrat';
    margin-left: 500px;
    padding-bottom: 0px;
}
#about{
    padding-top: 150px;
}
#about div h2, p{
    transform:translatex(-19px) translatey(27px);
    position:relative;
    left:-5px;
    top:-2px;
}
.main{
    position: absolute;
    z-index: -1;
    height:650px;
    width:650px;
    margin-left: 50px;
}
.about-image{
    height: 650px;
    width: 470px;
    margin-left: 50px;
    position:relative;
    top:-50px;
}
.about-container{
    display: flex;
}
.about-container p{
    font-family: 'Montserrat';
    font-size: 1.5em;
    width:900px !important;
}
li.active,li:hover{
    background-color: #00ADB5;
    color: #EEEEEE;
    border-radius: 5px;
}
.button{
  background-image: linear-gradient(144deg,#00ADB5, #87d3d7 50%,#c1dfe0);
  border: 0;
  border-radius: 8px;
  display: flex;
  font-family: 'Montserrat';
  font-size: 15px;
  padding: 3px;
  cursor: pointer;
  margin-left: 50px;
  font-weight: bold;
  color: white;
}
.button span {
  background-color: #00ADB5;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 300ms;
}

.button:hover span {
  background: none;
}
b{
    color: #00ADB5;
}
.tech{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4em;
    width: 90% !important;
}
.techstack-icons{
    margin-top: 35px;
}
.icon{
    position: relative;
}
.icontext{
    visibility: hidden;
    width: 150px;
    font-size:25px;
    font-family: 'Montserrat';
    background-color: #00ADB5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}
.icon:hover .icontext{
    visibility: visible;
}
.icon:hover{
    color: #393E46;
}